language: go

go:
  - 1.12.x

addons:
  postgresql: "9.6"

install:
  - make prepare

services:
  - postgresql

script:
  - while sleep 9m; do echo "=====[ $SECONDS seconds still running ]====="; done &
  - make precommit
  - goveralls -coverprofile profile.cov -service=travis-ci
  - kill %1


notifications:
  slack: openservicebrokerapi:KQo2QAC6LXeEeXPOemOXja48
