language: go

go:
  - 1.10.x

before_install:
  - go get -u github.com/golang/dep/cmd/dep
  - dep ensure

install:
  - go get github.com/alecthomas/gometalinter
  - go get github.com/GoASTScanner/gas/cmd/gas/...
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

before_script:
  - gometalinter --install --update

services:
  - postgresql

script:
  # Execute static checks
  - gometalinter --vendor ./...

  # Execute tests
  - go test $(go list ./... | grep -v "..fakes") -covermode=count -coverprofile=profile.cov
  - goveralls -coverprofile profile.cov -service=travis-ci

  #Execute security scan
  # - gas ./...

notifications:
  slack: openservicebrokerapi:KQo2QAC6LXeEeXPOemOXja48
