# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md for detailed Gopkg.toml documentation.

[prune]
  go-tests = true
  unused-packages = true

[[constraint]]
  name = "github.com/gorilla/mux"
  version = "=1.6.1"

[[constraint]]
  name = "github.com/Sirupsen/logrus"
  version = "=1.0.5"

[[constraint]]
  name = "github.com/onsi/ginkgo"
  version = "=1.4.0"

[[constraint]]
  name = "github.com/onsi/gomega"
  version = "=1.3.0"

[[constraint]]
  name = "github.com/jmoiron/sqlx"
  branch = "master"

[[constraint]]
  name = "github.com/spf13/viper"
  version = "=1.0.2"

[[constraint]]
  name = "github.com/lib/pq"
  branch = "master"