# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md for detailed Gopkg.toml documentation.

[prune]
  go-tests = true
  unused-packages = true

# Backwards-incompatible change is introduced in mux 1.6.2 - gorilla/mux#338
[[constraint]]
  name = "github.com/gorilla/mux"
  version = "=1.6.1"

[[constraint]]
  name = "github.com/sirupsen/logrus"
  version = "1.0.4"

[[constraint]]
 name = "github.com/onrik/logrus"
 branch = "master"

[[constraint]]
  name = "github.com/onsi/ginkgo"
  version = "1.4.0"

[[constraint]]
  name = "github.com/onsi/gomega"
  version = "=1.3.0"

[[constraint]]
  name = "github.com/jmoiron/sqlx"
  branch = "master"

[[constraint]]
  name = "github.com/spf13/viper"
  version = "=1.0.2"

[[constraint]]
  name = "github.com/lib/pq"
  branch = "master"

[[constraint]]
  name = "github.com/gofrs/uuid"
  version = "=3.1.0"

[[constraint]]
  name = "github.com/golang-migrate/migrate"
  version = "3.2.0"

[[override]]
  name = "github.com/valyala/fasthttp"
  revision = "e5f51c11919d4f66400334047b897ef0a94c6f3c"

[[constraint]]
  name = "github.com/fatih/structs"
  version = "=1.0.0"

[[constraint]]
  name = "github.com/gavv/httpexpect"
  revision = "c44a6d7bb636b17e880a53998a7f7061a56ffacb"

[[constraint]]
  name = "github.com/cloudfoundry-community/go-cfenv"
  revision = "e84b5c116637ef174eb8c7d68a28bc7269b3b9cb"

[[constraint]]
  name = "github.com/spf13/cast"
  version = "=1.2.0"

[[constraint]]
  name = "github.com/spf13/pflag"
  version = "=1.0.1"

[[constraint]]
  name = "gopkg.in/yaml.v2"
  branch = "v2"

[[constraint]]
  name = "github.com/gobwas/glob"
  version = "0.2.3"

[[constraint]]
  name = "github.com/pmorie/go-open-service-broker-client"
  version = "=0.0.10"

[[constraint]]
  name = "github.com/coreos/go-oidc"
  revision = "1180514eaf4d9f38d0d19eef639a1d695e066e72"

[[constraint]]
  name = "github.com/gbrlsnchs/jwt"
  version = "0.5.0"

[[constraint]]
  name = "github.com/DATA-DOG/go-sqlmock"
  revision = "852fc940e4b9b895dc144b88ee8f6e39228127b0"

[[constraint]]
  name = "github.com/pkg/errors"
  version = "0.8.0"

[[constraint]]
  name = "github.com/kubernetes-incubator/service-catalog"
  version = "=0.1.36"

[[constraint]]
  name = "github.com/cloudfoundry-community/go-cfclient"
  branch = "master"

# Refer to issue https://github.com/golang/dep/issues/1799
[[override]]
name = "gopkg.in/fsnotify.v1"
source = "https://github.com/fsnotify/fsnotify.git"