####################################################################
# WhiteSource Unified-Agent configuration file for GO
# GENERAL SCAN MODE: Package Managers only
####################################################################

checkPolicies=true
forceCheckAllDependencies=true
forceUpdate=true
forceUpdate.failBuildOnPolicyViolation=false
offline=false
ignoreSourceFiles=true
resolveAllDependencies=false
go.resolveDependencies=true
go.ignoreSourceFiles=true
go.collectDependenciesAtRuntime=false

go.dependencyManager=modules

##################################
# Organization tokens:
##################################
apiKey=
userKey=

projectName=
projectVersion=
projectToken=

productName=
productVersion=
productToken=



includes=**/*.lock

excludes=
case.sensitive.glob=false
followSymbolicLinks=true

