name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:

  build:
    name: Pipeline
    env:
      GOPATH: ${{ github.workspace }}
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        path: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
        
    - name: Get dependencies
      working-directory: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
      run: |
        curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
    
    - name: Unit Test
      working-directory: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
      run: make test-unit
