name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:

  unit:
    name: Unit Test
    env:
      GOPATH: ${{ github.workspace }}
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        path: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}

    - name: Go-linter
      uses: Jerome1337/golint-action@v1.0.2
      with:
        # Path used by golint command
        golint-path: ${{ github.workspace }}

    
#    - name: Test
#      working-directory: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
#      run: make precommit-new-unit-tets
#
#    - name: Send coverage
#      uses: shogo82148/actions-goveralls@v1
#      with:
#        parallel: true
#        flag-name: unit
#        path-to-profile: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}/profile-unit.cov

